.git

#django
api/media
api/static
api/backup
api/db.sqlite3
api/venv
api/tool
api/sql
api/.idea


# dependencies
angular-seed/node_modules
angular-seed/bower_components
angular-seed/.vscode
angular-seed/dist

# e2e
#e2e/*.js
#e2e/*.map

.DS_Store
Thumbs.db
